<section class="content">
  <h1>Native File System API</h1>
  <mat-card class="descr-card">
    <p>The <strong>Native File System API</strong> provides new features to manipulate local files, providing an improved
       experience to our users similar to a native app. FOr example we do not have to download again the file each time we want to edit it, but we
       can save it directly or even implement auto save funtionalitiy.
      <br><br>
      <span class="flex-centered">
        <mat-icon class="icon-space" aria-label="lock icon">lock</mat-icon>
        <strong>Feature available only in secure contexts (HTTPS).</strong>
      </span>
      <br><br>
      <span class="flex-centered">
        <mat-icon class="icon-space" aria-label="lock icon">warning</mat-icon>
        <strong>Still experimental</strong>
      </span>
      Enable the <cite><strong>Native File System</strong></cite> flag in Chrome (chrome://flags/#native-file-system-api) to test it.
      Active by default from Chrome 86.
    </p>
  </mat-card>
  <div class="native-demo" *ngIf="!unsupportedText; else noSupported">
    <textarea name="textbox" id="textbox" rows="15" placeholder="Start digiting your biography and save it for the future generations..."></textarea>
  </div>
  <ng-template #noSupported>
    <h2>{{unsupportedText}}</h2>
    <!-- <div class="img-center">
      <img src="assets/images/cat.png" width="150" alt="cat">
    </div> -->
  </ng-template>
</section>
