<section class="content">
  <h1>Screen Wake Lock API</h1>
  <mat-card class="descr-card">
    <p>The <strong>Screen Wake Lock API</strong> provides a way to prevent devices from dimming or locking the screen
      when an application needs to keep running.</p>
  </mat-card>

  <div class="instructions">
    <ng-container *ngIf="!unsupportedText; else noSupported">
      <mat-checkbox class="enable-box" [(ngModel)]="lockEnabled" (ngModelChange)="lockEnabledChange($event)">Enable wake
        lock</mat-checkbox>
      <mat-checkbox *ngIf="lockEnabled" [(ngModel)]="reGetLock">Re-acquire wake lock</mat-checkbox>
      <span class="api-status"
        [ngClass]="isSentinelActive ? 'active' : 'inactive'">{{isSentinelActive ? 'Wake sentinel active' : 'Wake sentinel inactive'}}</span>
      <span class="error-text">{{errorText}}</span>
    </ng-container>
    <ng-template #noSupported>
      <h2>{{this.unsupportedText}}</h2>
      <cite>Be quick in memorizing the recipe :)</cite>
    </ng-template>
  </div>

  <mat-card class="demo-card">
    <mat-card-header>
      <mat-card-title>Cosmopolitan</mat-card-title>
      <div>
        <img src="assets/images/cosmo.png" alt="Cosmopolitan">
      </div>
    </mat-card-header>
    <mat-card-content>
      <strong>Ingredients: </strong>
      <ul>
        <li>1 1/2 oz Citrus vodka</li>
        <li>1 oz Cointreau</li>
        <li>1/2 oz Fresh lime juice</li>
        <li>1 dash Cranberry juice</li>
      </ul>
      <hr>
      <strong>Preparation: </strong>
      <br><br>
      <p>
        Add all ingredients into a shaker with ice and shake.
        <br><br>
        Strain into a chilled cocktail glass.
        <br><br>
        Garnish with an lime or orange zest.
      </p>
    </mat-card-content>
  </mat-card>

  <div class="accordion-container">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h1>Browser compatibility</h1>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="img-container">
          <img src="assets/images/wakelock.png" alt="wakelock support">
        </div>
        <br><br>
        <a href="https://caniuse.com/?search=wake-lock" target="_blank">Source: can I use</a>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

</section>
