<section class="content">
  <h1>Screen Wake Lock API</h1>
  <mat-card class="descr-card">
    <p>The <strong>Screen Wake Lock API</strong> provides a way to prevent devices from dimming or locking the screen
      when an application needs to keep running.</p>
    <br>
    <span class="flex-centered">
      <img src="assets/icons/lock.png" class="icon-space" width="24" height="24" alt="lock icon">
      <span>This feature is available only over secure connections (HTTPS).</span>
    </span>
  </mat-card>

  <div class="instructions">
    <ng-container *ngIf="!unsupportedText; else noSupported">
      <mat-checkbox class="enable-box" [(ngModel)]="lockEnabled" (ngModelChange)="lockEnabledChange($event)">
        Enable wake lock
      </mat-checkbox>
      <mat-checkbox *ngIf="lockEnabled" [(ngModel)]="reGetLock">
        Re-acquire wake lock
      </mat-checkbox>
      <span class="api-status"
        [ngClass]="isSentinelActive ? 'active' : 'inactive'">{{isSentinelActive ? 'Wake sentinel active' : 'Wake sentinel inactive'}}</span>
      <span class="error-text">{{errorText}}</span>
    </ng-container>
    <ng-template #noSupported>
      <h2>{{this.unsupportedText}}</h2>
      <cite>Be quick in memorizing the recipe 😀</cite>
    </ng-template>
  </div>

  <mat-card class="demo-card">
    <mat-card-header>
      <mat-card-title>Eclairs</mat-card-title>
      <div>
        <img src="assets/images/eclair.png" alt="Eclairs photo">
      </div>
    </mat-card-header>
    <mat-card-content>
      <strong>Ingredients: </strong>
      <ul>
        <li>½ cup butter</li>
        <li>1 cup water</li>
        <li>1 cup all-purpose flour</li>
        <li>¼ teaspoon salt</li>
        <li>4 large eggs eggs</li>
        <li>1 (5oz) package instant vanilla pudding mix</li>
        <li>2 ½ cups cold milk</li>
        <li>1 cup heavy cream</li>
        <li>¼ cup sugar</li>
        <li>1 teaspoon vanilla extract</li>
        <li>2 (1oz) squares chocolate</li>
        <li>2 tablespoons butter</li>
        <li>1 teaspoon vanilla extract</li>
      </ul>
      <hr>
      <strong>Preparation: </strong>
      <br><br>
      <p>
        <strong>1</strong> - Preheat oven to 450 °F (230 °C). Grease a cookie sheet.
       In a medium saucepan, combine 1/2 cup butter and 1 cup water. Bring to a boil, stirring until butter melts completely. <br>
       Reduce heat to low, and add flour and salt. Stir vigorously until mixture leaves the sides of the pan and begins to form a stiff ball. <br><br>
       Remove from heat. Add eggs, one at a time, beating well to incorporate completely after each addition. <br>
       With a spoon or a pastry bag fitted with a No. 10, or larger, tip, spoon or pipe dough onto cookie sheet in 1 1/2 x 4 inch strips.
      </p>
      <p>
        <strong>2</strong> - Bake 15 minutes in the preheated oven, then reduce heat to 325 °F (165 °C) and bake 20 minutes more, until hollow sounding when lightly tapped on the bottom. <br>
        Cool completely on a wire rack.
      </p>
      <p>
        <strong>3</strong> - For the filling, combine pudding mix and milk in medium bowl according to package directions. <br>
        In a separate bowl, beat the cream with an electric mixer until soft peaks form. Beat in 1/4 cup confectioners' sugar and 1 teaspoon vanilla. Fold whipped cream into pudding. Cut tops off of cooled pastry shells with a sharp knife. <br>
        Fill shells with pudding mixture and replace tops.
      </p>
      <p>
        <strong>4</strong> - For the icing, melt the chocolate and 2 tablespoons butter in a medium saucepan over low heat. <br>
        Stir in 1 cup confectioners' sugar and 1 teaspoon vanilla. Stir in hot water, one tablespoon at a time, until icing is smooth and has reached desired consistency. <br>
        <br>Remove from heat, cool slightly, and drizzle over filled eclairs. Refrigerate until serving.
      </p>
    </mat-card-content>
  </mat-card>

  <div class="accordion-container">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h1>Browser compatibility</h1>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <div class="img-container">
            <img src="assets/images/wakelock.png" alt="wakelock support">
          </div>
          <br><br>
          <a href="https://caniuse.com/?search=wake-lock" target="_blank">Source: can I use</a>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

</section>
