<section class="content">
  <h1>Summarizer API</h1>
  <mat-card class="descr-card">
    <p>This API is part of Chrome built-in AI APIs. With them, a web application can perform AI-powered tasks, without needing to deploy, manage, or self-host AI models. 
      The Summarizer API allows to summarize text content and produce the output in three different lengths and types.</p>
    <h2>Prerequisites</h2>
    <ul>
      <li>Use Chrome <a href="https://www.google.com/chrome/canary/" target="_blank">Canary (min 138.0.7190.0)</a></li>
      <li>At least 22 GB of free storage space available. If the available storage space falls below 10 GB after the download, the model will be deleted. 
        While the model requires far less storage (around a couple of GB), this requirement exists to ensure you have an ample storage margin.</li>
      <li>Enable the chrome://flags/#summarization-api-for-gemini-nano flag</li>
    </ul>
  </mat-card>
  @if(!unsupportedText) {
  <div class="accordion-options">
    <mat-accordion multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="option-label">Options</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <div class="options-container">
              <div class="optionSelect">
                <label for="type">Output Type </label>
                <select
                  id="type"
                  matNativeControl
                  [(ngModel)]="selectedType"
                  name="type"
                >
                  @for (type of outputTypes; track type) {
                  <option [value]="type.value">{{ type.label }}</option>
                  }
                </select>
              </div>
              <div class="optionSelect">
                <label for="type">Format </label>
                <select
                  id="type"
                  matNativeControl
                  [(ngModel)]="selectedFormat"
                  name="format"
                >
                  @for (format of outputFormats; track format) {
                  <option [value]="format.value">{{ format.label }}</option>
                  }
                </select>
              </div>
              <div class="optionSelect">
                <label for="type">Length </label>
                <select
                  id="type"
                  matNativeControl
                  [(ngModel)]="selectedLength"
                  name="length"
                >
                  @for (length of outputLengths; track length) {
                  <option [value]="length.value">{{ length.label }}</option>
                  }
                </select>
              </div>
            </div>
            <fieldset>
              <legend>Active options</legend>
              <div class="selectedOption">
                <label class="optionLabel">Length: </label>
                <span class="optionValue">{{ selectedLength() }}</span>
              </div>
              <div class="selectedOption">
                <label class="optionLabel">Format: </label>
                <span class="optionValue">{{ selectedFormat() }}</span>
              </div>
              <div class="selectedOption">
                <label class="optionLabel">Output Type: </label>
                <span class="optionValue">{{ selectedType() }}</span>
              </div>
            </fieldset>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="content">
    <textarea
      #textbox
      name="textbox"
      id="textbox"
      rows="15"
      placeholder="Enter the text you want to summarize and click the button below"
    ></textarea>
    <button
      color="primary"
      mat-raised-button
      (click)="summarizeText(textbox.value)"
    >
      Summarize
    </button>
  </div>
  @if (isSummarizing) {
  <h3>Summarizing the text...</h3>
  } @else if (summarizedText) {
  <div class="result">
    <pre>{{ summarizedText }}</pre>
  </div>
  }} @else {
  <span >{{ unsupportedText }}</span >
  }
</section>
