<section class="content">
  <h1>Page Visibility API</h1>
  <mat-card class="descr-card">
    <p>The <strong>Page Visibility API</strong>
      provides events you can watch for to know when a document becomes visible or hidden,
      as well as features to look at the current visibility state of the page.
    </p>
  </mat-card>

  <p> The video plays only when the page is visible, it will automatically pause otherwise.
  </p>

  <video #videoElement controls>
    <source src="https://storage.googleapis.com/web-dev-assets/video-and-source-tags/chrome.webm" type="video/webm">
    <source src="https://storage.googleapis.com/web-dev-assets/video-and-source-tags/chrome.mp4" type="video/mp4">
    <p>Your browser cannot play the provided video file.</p>
  </video>

  <cite>Video source <a href="https://web.dev/video-and-source-tags/" target="_blank">web.dev</a></cite>

  <div class="accordion-container">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h1>Browser compatibility</h1>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="img-container">
          <img src="assets/images/visibility.png" alt="Visibility api support">
        </div>
        <br><br>
        <a href="https://caniuse.com/pagevisibility" target="_blank">Source: can I use</a>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>