<section>
  <mat-card class="descr-card">
    <mat-card-title></mat-card-title>
    <h1> Hi, I am Francesco! </h1>
    <div class="social-links">
      <a href="https://twitter.com/paco_ITA" target="_blank">
        <img src="assets/images/twitter.png" alt="Twitter">
      </a>
      <a class="mid-img" href="https://dev.to/paco_ita" target="_blank">
        <img src="assets/images/dev_logo.png" alt="Dev.to">
      </a>
      <a href="https://github.com/pacoita" target="_blank">
        <img src="assets/images/octocat.png" alt="Github">
      </a>
    </div>
    <div class="img-wrap">
      <img src="assets/images/profile_small.jpg" alt="profile">
    </div>
    <p class="description">
      My name is <strong>Francesco Leardini</strong> and I am a full stack developer, international speaker and Angular trainer.
      <br><br>
      You can follow me on <a href="https://twitter.com/paco_ITA" class="link" target="_blank">
        Twitter
      </a> to get notified about my new articles and latest web updates or on <a class="mid-img link"
        href="https://dev.to/paco_ita" target="_blank">
        Dev.to
      </a> where I write about Web Development, Progressive Web Apps and other tech related topics.
      </p>

  </mat-card>
</section>
