<section class="content container" [ngClass]="ambient === 'bright' ? 'lightTheme' : 'darkTheme'">
  <div class="flex-centered warn-text">
    <h1>Ambient Light Sensor</h1>
  </div>
  <mat-card class="descr-card">
    <p>The <strong>AmbientLightSensor</strong> interface of the Sensor API returns the current level of the ambient light around the hosting device.
      <br/><br/>
      <span class="flex-centered">
        <mat-icon class="icon-space" aria-label="warning icon">warning</mat-icon>
        <span>Still experimental</span>
      </span>
      Enable the <cite><strong>generic sensor extra classes</strong></cite> flag in Chrome to test it (chrome://flags/#enable-generic-sensor-extra-classes).
    </p>
  </mat-card>

  <ng-container *ngIf="!supportedText; else noSupported">
    <h2>{{errorText}}</h2>
    <mat-card class="lux-card">
      <mat-card-title>
        <h2>Light level</h2>
      </mat-card-title>
      <mat-card-content>
        <h1>
          <ng-container *ngIf="luxValue; else notAvailable">
            {{luxValue}}
          </ng-container>
          <ng-template #notAvailable>N/A</ng-template>
        </h1>
      </mat-card-content>
    </mat-card>
  </ng-container>
  <ng-template #noSupported>
    <h2>{{supportedText}}</h2>
    <div class="img-center">
      <img src="assets/images/cat.png" width="150" alt="cat">
    </div>
  </ng-template>

  <div class="accordion-container">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h1>Browser compatibility</h1>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="img-container">
          <img src="assets/images/ambientlight.png" alt="Ambient Light Sensor api support">
        </div>
        <br/><br/>
        <a href="https://caniuse.com/?search=ambient%20light" target="_blank">Source: can I use</a>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
