@import "../../styles/variables";
.warn-text {
  margin-bottom: 2rem;
  h1 {
    margin: 0 2rem 0 0;
  }
}

.generic-value-light {
  text-align: center;
  max-width: $max-width;
  h1 {
    padding: 1.5rem;
    font-size: 5em;
    color: $grayLight;
  }
}

.container {
  padding: 1rem;
  &.lightTheme {
    background-color: white;
    color: rgb(0 0 0 / 87%);
    .lux-card {
      @extend .generic-value-light;
    }
  }

  &.darkTheme {
    background-color: rgb(0 0 0 / 67%);
    .label {
      color: white;
    }
    .lux-card {
      @extend .generic-value-light;
    }
  }
}
