<section class="content">
  <h1>Prompt API</h1>
  <mat-card class="descr-card">
    <p>This API is part of Chrome built-in AI APIs. With them, a web application can perform AI-powered tasks, without needing to deploy, manage, or self-host AI models. 
      The Prompt API allows to generate text prompts.</p>
    <h2>Prerequisites</h2>
    <ul>
      <li>Use Chrome <a href="https://www.google.com/chrome/canary/" target="_blank">Canary (min 138.0.7190.0)</a></li>
      <li>At least 22 GB of free storage space available. If the available storage space falls below 10 GB after the download, the model will be deleted. 
        While the model requires far less storage (around a couple of GB), this requirement exists to ensure you have an ample storage margin.</li>
      <li>Enable the following chrome flags:
        <ul>
          <li>#prompt-api-for-gemini-nano and/or #prompt-api-for-gemini-nano-multimodal-input</li>
          <li>#optimization-guide-on-device-model (set to "Enabled BypassPerfRequirement")</li>
        </ul> 
      </li>
    </ul>
  </mat-card>
  @if(!unsupportedText) {
  <div class="content">
    <textarea
      #textbox
      name="textbox"
      id="textbox"
      rows="8"
    ></textarea>
    <button
      color="primary"
      mat-raised-button
    >
      Send prompt
    </button>
  </div>
  @if (!errorMessage) {
    <!-- 
    <div class="result">
      <pre>{{ result }}</pre>
    </div>
     -->
  } @else {
    <span class="error-text">{{ errorMessage }}</span>
  }} @else {
  <span >{{ unsupportedText }}</span >
  }
</section>
