<section class="content">
  <div class="flex-centered warn-text">
    <h1>Contact Picker API</h1>
  </div>
  <mat-card class="descr-card">
    <p>The <strong>Contact Picker API</strong> fills another gap between web and native apps, allowing to
      access the address book on a mobile device. With this API we can retrieve details like: contact name, contact
      profile image, email address, phone number, street address.
      <br /><br />
      <span class="flex-centered">
        <img src="assets/icons/lock.png" class="icon-space" width="24" height="24" alt="lock icon">
        <span>This feature is available only on secure contexts (HTTPS).</span>
      </span>
    <p class="flex-centered">
      <img src="assets/icons/android.png" class="icon-space" width="24" height="24" alt="android icon">
      Available from Chrome 80 - Android only
      (Marshmallow or newer).
    </p>
  </mat-card>
  <button mat-raised-button color="primary" (click)="selectContacts()" [disabled]="!supported">
    <img src="assets/icons/person.png" class="icon-space" width="24" height="24" alt="person icon">
    Select contacts
  </button>
  <div class="cards-container">
    <mat-card *ngFor="let contact of contacts">
      <mat-card-header>
        <div *ngIf="contact?.icon?.length">
          <ng-container *ngIf="getObjectUrl(contact.icon) as imageUrl; else defaultIcon">
            <img mat-card-avatar [src]="imageUrl" alt="contact icon">
          </ng-container>
          <ng-template #defaultIcon>
            <img src="assets/icons/person.png" class="icon-space" width="24" height="24" alt="person icon">
          </ng-template>
        </div>
        <mat-card-title>{{contact?.name.join(', ')}}</mat-card-title>
        <mat-card-subtitle>&nbsp;</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <span *ngIf="contact?.tel?.length">
          <img src="assets/icons/phone.png" class="icon-space" width="24" height="24" alt="phone icon">{{contact.tel.join(', ')}}
        </span>
        <span *ngIf="contact?.email?.length">
          <img src="assets/icons/email.png" class="icon-space" width="24" height="24" alt="email icon">{{contact.email.join(',
          ')}}
        </span>
        <span *ngIf="contact?.address?.length">
          <img src="assets/icons/place.png" class="icon-space" width="24" height="24"
            alt="place icon">{{formatAddresses(contact.address)}}
        </span>
      </mat-card-content>
    </mat-card>
  </div>
  <ng-container *ngIf="statusText">
    <h2>{{statusText}}</h2>
  </ng-container>
  <div class="accordion-container">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h1>Browser compatibility</h1>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <div class="img-container">
            <img src="assets/images/contacts-picker.png" alt="Contact Picker api support">
          </div>
          <br /><br />
          <a href="https://caniuse.com/mdn-api_contactsmanager" target="_blank">Source: can I
            use</a>
          </ng-template>
          </mat-expansion-panel>
          </mat-accordion>
          </div>
</section>