<section class="content">
    <h1>Background Sync API</h1>
    <mat-card class="descr-card">
        <p>The <strong>Background Synchronization API</strong> web applications to defer network-related actions to a
            service worker for later execution.
            This enables functionality even when the user is offline.
            <br><br>
            The API offers a way to register a task to be executed by the service worker when a network connection
            becomes available again.
            This feature is triggered by events within the service worker, allowing developers to implement
            functionalities that work seamlessly regardless of the user's network connectivity.
            <br><br><br>
            <span class="flex-centered">
                <img src="assets/icons/lock.png" class="icon-space" width="24" height="24" alt="lock icon">
                <span>This feature is available only over secure connections (HTTPS) and requires an installed Service
                    Worker.
                <br>
                When testing the demo locally, run the server from the "bun-server" folder.
                </span>
            </span>
        </p>
    </mat-card>
    <div *ngIf="!unsupportedText; else noSupported">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Registration Form</mat-card-title>
            </mat-card-header>
            <mat-card-content class="card-content">
                <form [formGroup]="registrationForm">
                    <div class="form-row">
                        <mat-form-field appearance="outline">
                            <mat-label>Firstname</mat-label>
                            <input matInput placeholder="Firstname" formControlName="firstname" />
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Lastname</mat-label>
                            <input matInput placeholder="Lastname" formControlName="lastname" />
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" />
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Feedback</mat-label>
                            <textarea matInput #textbox formControlName="feedback" rows="10"></textarea>
                        </mat-form-field>
                    </div>

                    <button mat-raised-button color="primary" (click)="submit()">
                        Submit
                    </button>
                </form>
                <div class="img-wrap">
                    <img src="assets/images/email.jpg" alt="email">
                </div>
            </mat-card-content>
        </mat-card>

        <p class="error">
            {{errorText}}
        </p>
    </div>
    <ng-template #noSupported>
        <h2>{{unsupportedText}}</h2>
    </ng-template>

    <div class="accordion-container">
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h1>Browser compatibility</h1>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                    <div class="img-container">
                        <img src="assets/images/background-sync.png" alt="Background sync api support">
                    </div>
                    <br /><br />
                    <a href="https://caniuse.com/background-sync" target="_blank">Source: can I use</a>
                </ng-template>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</section>