@import "../../styles/variables";

.warn-text {
  margin-bottom: 2rem;

  h1 {
    margin: 0 2rem 0 0;
  }
}


.container {
  padding: 1rem;

  .photo-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;

    .camera-box {
      position: relative;
      width: 50%;
      max-width: 400px;

      @media screen and (max-width: 480px) {
        width: 100%;
      }

      #video,
      #temp-canvas {
        width: 100%;
      }

      .timer {
        position: absolute;
        top: 50%;
        left: 40%;
        font-size: 7rem;
        color: #fffefe99;
      }
    }

    #preview-box {
      width: 50%;
      position: relative;
      display: none;

      img {
        width: 100%;
      }

      &.displayPhoto {
        display: block;
      }

      @media screen and (max-width: 480px) {
        width: 100%;
      }
    }

    #camera-actions {
      position: absolute;
      top: 10px;
      left: 10px;
      display: flex;
      flex-direction: column;
      gap: .5rem;

      .icon-button {
        width: 36px;
        height: 36px;

        border: none;
        color: white;
        cursor: pointer;
        border-radius: 50%;
        background-color: #0764f454;

        &:hover {
          background-color: #ffed26c0;
        }
      }
    }
  }


  #temp-canvas {
    display: none;
  }
}