<section class="content container">
  <div class="warn-text">
    <h1 class="label">Media Capture API</h1>
  </div>
  <mat-card class="descr-card">
    <p>
      With the <strong>Media Capture and Streams API</strong>, we can connect to devices that capture media, such as
      cameras and microphones.
      This API lets us access any hardware-based media data source on a target device.
      <br><br>
      Invoking the <strong>getUserMedia()</strong> method it is possible to get a video stream and manipulate it in
      various ways within our app.
    </p>
  </mat-card>

  @if(!supportedText){
  <h2 class="label">{{errorText}}</h2>
  <mat-card>
    <mat-card-content>
      <p>
        After allowing to use the camera, we can take a photo (even with timer), then save the shot taken or share via
        other native apps.
      </p>
      <br>
      <div class="photo-wrap">
        <div class="camera-box">
          <video id="video" #videoElement>Video stream not available.</video>
          <div id="camera-actions">
            <button (click)="takePhoto()" class="icon-button">
              <img src="assets/icons/camera_icon.png" class="icon-space" width="24" height="24" alt="camera icon">
            </button>
            <button (click)="timerShot()" class="icon-button">
              <img src="assets/icons/timer.png" class="icon-space" width="24" height="24" alt="camera icon">
            </button>
          </div>
          @if (!!timerSeconds) {
          <div class="timer">{{timerSeconds}}</div>
          } @else if (timerSeconds! === 0) {
          <div class="timer">🙂</div>
          }
        </div>
        <canvas id="temp-canvas" #canvas></canvas>
        <!-- Displays the preview after the photo shot -->
        <div id="preview-box" [ngClass]="{'displayPhoto': displayPhoto}">
          <img id="photo-taken" #resultShot alt="Photo preview" />

          <div id="camera-actions">
            <button class="icon-button" *ngIf="webCapabilities[webCapability.share]" (click)="share()">
              <img src="assets/icons/share.png" class="icon-space" width="24" height="24" alt="camera icon">
            </button>
            <button class="icon-button" *ngIf="webCapabilities[webCapability.fileSystem]" (click)="savePhoto()">
              <img src="assets/icons/save_black.png" class="icon-space" width="24" height="24" alt="camera icon">
            </button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  } @else {
  <h2>{{supportedText}}</h2>
  }

  <div class="accordion-container">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h1>Browser compatibility</h1>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <div class="img-container">
            <img src="assets/images/camera.png" alt="Ambient Light Sensor api support">
          </div>
          <br /><br />
          <a href="https://caniuse.com/?search=getUserMedia" target="_blank">Source: can I use</a>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>