<section class="content">
  <h1>Web Share API</h1>
  <mat-card class="descr-card">
    <p>The <strong>navigator.share()</strong> method of the Web Share API invokes the native sharing mechanism of the
      device.<br><br>
      <span class="flex-centered">
        <img src="assets/icons/lock.png" class="icon-space" width="24" height="24" alt="lock icon">
        <span>This feature is available only over secure connections (HTTPS) and through user interaction.</span>
      </span>
    </p>
  </mat-card>

  <ng-container *ngIf="unsupportedText">
    <h2>{{unsupportedText}}</h2>
  </ng-container>
  <div class="cards-container">
    <mat-card class="demo-card">
      <mat-card-header>
        <mat-card-title>Cosmopolitan</mat-card-title>
        <button class="share-btn" mat-mini-fab color="primary" aria-label="Share icon" [disabled]="unsupportedText" (click)="share('Cosmopolitan')">
          <img src="assets/icons/share.png" class="icon-space" width="24" height="24" alt="share icon">
        </button>
        <div>
          <img src="assets/images/cosmo.png" class="content-img" alt="Cosmopolitan">
        </div>
      </mat-card-header>
      <mat-card-content>
        <strong>Ingredients: </strong>
        <ul>
          <li>1 1/2 oz Citrus vodka</li>
          <li>1 oz Cointreau</li>
          <li>1/2 oz Fresh lime juice</li>
          <li>1 dash Cranberry juice</li>
        </ul>
        <hr>
        <strong>Preparation: </strong>
        <br><br>
        <p>
          Add all ingredients into a shaker with ice and shake.
          <br><br>
          Strain into a chilled cocktail glass.
          <br><br>
          Garnish with an lime or orange zest.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="demo-card">
      <mat-card-header>
        <mat-card-title>Manhattan</mat-card-title>
        <button class="share-btn" mat-mini-fab color="primary" aria-label="Share icon" [disabled]="unsupportedText"  (click)="share('Manhattan')">
          <img src="assets/icons/share.png" class="icon-space" width="24" height="24" alt="share icon">
        </button>
        <div>
          <img src="assets/images/manhattan.png" class="content-img" alt="Manhattan">
        </div>
      </mat-card-header>
      <mat-card-content>
        <strong>Ingredients: </strong>
        <ul>
          <li>2oz Rye Whiskey</li>
          <li>1oz Sweet Vermouth</li>
          <li>Dashes Angostura Bitters</li>
        </ul>
        <hr>
        <strong>Preparation: </strong>
        <br><br>
        <p>
          Add ingredients to a mixing glass
          with cracked ice.
          <br><br>
          Strain into a chilled cocktail glass.
          <br><br>
          Garnish with a cherry.
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="accordion-container">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h1>Browser compatibility</h1>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="img-container">
          <img src="assets/images/share.png" alt="Share api support">
        </div>
        <br><br>
        <a href="https://caniuse.com/web-share" target="_blank">Source: can I use</a>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
