@import '../../styles/variables';
.cards-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: $max-width;
  .share-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  img {
    min-height: 238px;
  }
  ul {
    min-height: 80px;
  }
}
