.demo-card-title {
    padding: 16px 16px 0 16px;
}

.card-wrap {
    position: relative;
    font-family: arial;
    color: white;


    .digits {
        position: absolute;
        top: 53%;
        left: 10%;
        
        font-size: 1.5rem;
    }

    .date {
        position: absolute;
        top: 70%;
        left: 45%;
        font-size: 0.9rem;
    }

    .name {
        position: absolute;
        top: 82%;
        left: 10%;
        font-size: 1.1rem;
    }

    @media screen and (min-width: 780px) {
        .digits {
            top: 55%;
            left: 5%;
            font-size: 2.5rem;
        }
    
        .date {
            top: 70%;
            left: 21%;
            font-size: 1.2rem;
        }
    
        .name {
            top: 85%;
            left: 5%;
            font-size: 1.7rem;
        }
    }
}
.image-wrap {
    margin: 0 auto;
}

.image {
    width: 100%;
}

.card-image {
    @extend .image; 
    max-width: 400px;
}