<div class="example-container">
  <mat-toolbar color="primary">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>Web APIs</span>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <mat-nav-list class="links-panel">
        <a mat-list-item [routerLink]="['/home']">
          <mat-icon class="icon-space" aria-label="home icon">home</mat-icon>
          Home
        </a>

        <a mat-list-item [routerLink]="['/wakelock']">
          <mat-icon class="icon-space" aria-label="app_blocking icon">app_blocking</mat-icon>
          Wake Lock API
        </a>

        <a mat-list-item [routerLink]="['/visibility']">
          <mat-icon class="icon-space" aria-label="visibility icon">visibility</mat-icon>
          Visibility API
        </a>

        <a mat-list-item [routerLink]="['/share']">
          <mat-icon class="icon-space" aria-label="share icon">share</mat-icon>
          Share API
        </a>

        <a mat-list-item [routerLink]="['/vibrate']">
          <mat-icon class="icon-space" aria-label="viration icon">vibration</mat-icon>
          Vibration API
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <!-- Add Content Here -->
      <div>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
