<mat-toolbar color="primary">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
    <img src="assets/icons/menu.png" class="icon-space" width="24" height="24" alt="Menu">
  </button>
  <span>Web APIs</span>
  <span class="social-wrap">
    <a routerLink="/about">
      <img src="assets/icons/about.png" class="icon-space" width="24" height="24" alt="About" title="About me">
    </a>
  </span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false" [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="isHandset ? 'over' : 'side'" [opened]="isHandset === false">
    <mat-nav-list class="links-panel">
      @for (link of navLinks; track $index) {
        <a mat-list-item [routerLink]="[link.path]" (click)="toggleOnNavigation()">
          <img [src]="link.icon" class="icon-space nav-icon" width="24" height="24" [alt]="link.alt">
          {{ link.label }}
          @if(link.isAI) {
            <img src="assets/icons/gemini-color.png" width="24" height="24" alt="AI icon" title="Chrome AI API">
          }
        </a>   
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
