@import 'variables';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; min-width: 350px; }

section.content {
  max-width: $max-width;
}

.error {
  color: $redSignal;
}

.icon-space {
  margin-right: 0.5rem;
}

.flex-centered {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

div.mat-step-label,
div.mat-step-label.mat-step-label-active.mat-step-label-selected {
  min-width: auto;
}

// Rules used to style mat-cards in the demos
.descr-card {
  background-color: #f3f3f3;
  margin-bottom: 2rem;
}
.demo-card {
  margin-top: 1rem;
  max-width: 400px;

  .mat-card-header {
    flex-direction: column;
    text-align: center;
    img {
      width: 50%;
    }
  }

  .mat-card-content {
    padding: 1em;
  }
  hr {
    margin: 1em 0;
  }
}

.accordion-container {
  // 2rem to align with the mat-card, having 1rem padding left/right
  max-width: calc(#{$max-width} + 2rem);
  margin-top: 2rem;
  h1 {
    margin-bottom: 0;
    font-size: 21px;
  }
  .img-container {
    text-align: center;
    img {
      width: 100%;
    }
  }
}
