.img-install {
    width: 100%;
    max-width: 500px;
}

.edu-text {
    margin: 1rem 0.35rem 0 0;
    display: inline;
}

.qr-code {
    display: none;
}

#educative-logo {
    margin-left:0.35rem;
}

@media screen and (min-width: 680px) {
    .qr-code {
        display: block;
        margin-left: .5rem;
        width: 120px;
    }
}