<section class="content">
  <h1>Modern Web APIs</h1>
  <p>This project is an examples gallery showing the usage of some modern Browser APIs. Feel free to play around and apply
    them to your projects.
    <br><br>
    ⚠️ &nbsp; The browser support is displayed at the bottom of each API page.
    Keep in mind that, being some APIs still in an experimental phase, you might need to use Chrome as browser and to enable
    some
    <cite>Chrome-flags</cite> to test them properly. In each API description is reported all what you need for
    testing.
    </p>
    <p>
    🔥 Thanks to PWA features, you can also install this web app on your device 🔥
    <br><br>
    On <strong>desktop machines</strong> you can install the app locally by clicking the `install` icon in the
    browser address bar:
  </p>
    <div style="text-align: center;">
      <img style="width:100%; max-width: 720px;" src="assets/images/install_banner.png" alt="Desktop Install">
    </div>
    <br>
    <p>
      On <strong>mobile devices</strong> an "Add-To-Home-Screen" dialog (A2HS)should automatically appear to add the app to your device home screen.
    </p>
    <hr>
    <p class="flex-centered edu-text">
      If you want to learn more about PWAs, have a look at my <a href="https://www.educative.io/courses/zero-to-hero-with-progressive-web-apps" class="link" target="_blank">course </a> on  
      <a href="https://www.educative.io/profile/view/5884426195042304" class="link" target="_blank">
        <img src="assets/images/educative_logo.png" height="22" alt="Educative Logo" />
      </a>
      <img src="assets/images/qr_code_course.png" class="qr-code" height="50" alt="Educative QR Code" />
    </p>
    <p >
      And if you are interested in knowing about the project status, follow me on
      <a href="https://twitter.com/paco_ITA" class="link" target="_blank">
        <img src="assets/images/twitter.png" height="18" alt="Twitter" />Twitter</a> where I post web topics in general.
    </p>
</section>